body{
  background:linear-gradient(to bottom, rgb(33, 40, 36),rgb(7, 66, 49));
  padding:0px;
}
h1{
  text-shadow: 0 2px 0 2px rgb(125, 33, 44),0 4px 0 4px rgb(137, 73, 17),
    0 6px 0 6px rgb(53, 92, 28), 0 8px 0 8px rgb(31, 57, 101);
  text-align:center;
  color:white;
  font-size: 32px;
  font-family:'Courier New', Courier, monospace;
}
.div-title {
  border:12px ridge rgba(255, 255, 255, 0.3);
  background:linear-gradient(to bottom,
    rgba(0, 0, 0, 0.2),rgba(255, 255, 255, 0.2));
  margin:16px;
}
ul{
  background:linear-gradient(to bottom,
    rgba(0, 0, 0, 0.2),rgba(255, 255, 255, 0.2));
  list-style-type: none;
  text-align: center;
  margin:16px;
  padding: 0;
}
li {
  display:inline;
  padding:16px;
}
li a{
  color:white;
  font-size: 16px;
  font-family:'Courier New', Courier, monospace;
}
li a:hover{
  color:cyan;
  font-size: 20px;
  font-weight: 600;
  font-family:'Courier New', Courier, monospace;
}

.div-intro {
  border:12px ridge rgba(255, 255, 255, 0.3);
  background:linear-gradient(to top,
    rgba(0, 0, 0, 0.2),rgba(255, 255, 255, 0.2));
  margin:16px;
}
.intro p{
  text-align: center;
  color:white;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  margin-bottom: 4px;
}
.div-status{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
  align-items: center;
}
.status p{
  color:rgb(245, 172, 89);
  font-size:14px;
  font-family:'Courier New', Courier, monospace;
}
.r-stars,.l-stars{
  color:rgb(245, 172, 89);
}
.highl p{
  text-align: center;
  color:white;
  font-size: 32px;
  font-family:'Courier New', Courier, monospace;
  margin-top: 16px;
  margin-bottom: 16px;
}
.tip p{
  text-align: center;
  color:white;
  font-size: 14px;
  font-family:'Courier New', Courier, monospace;
  height:0px;
}
.column{
  float:left;
  width: 20%;
  padding: 10px;
}
.column img{
  border:4px inset rgb(255, 255, 255,0.5);
  cursor:pointer;
}
.column img:hover{
  border:4px inset rgb(0, 255, 255,0.75);
}
.row{
  display:flex;
  justify-content: center;
}
.row:after{
  content:"";
  display:table;
  clear:both;
}
.container{
  position:relative;
  display:flex;
  flex-direction: column;
  width:95%;
  margin:16px;
}
.container img{
  border:4px inset rgb(0, 255, 255,0.75);
}
#imgtext{
  text-align: center;
  color:white;
  font-size: 14px;
  font-family:'Courier New', Courier, monospace;
  padding:4px;
}