body{
  background:linear-gradient(to bottom, rgb(33, 40, 36),rgb(7, 66, 49));
  padding:0px;
}
h1{
  text-shadow:0 4px 3.5px rgb(1, 82, 170),0 8px 3.5px rgb(0, 121, 12),  
0 12px 3.5px rgb(161, 116, 0),0 14px 3.5px rgb(147, 9, 62);
  text-align:center;
  color: rgb(200, 200, 200);
  letter-spacing: 8px;
  font-size: 32px;
  font-style: italic;
  font-family:'Courier New', Courier, monospace;
}
.div-title {
  border:12px ridge rgba(255, 255, 255, 0.3);
  background:linear-gradient(to bottom,
rgba(0, 0, 0, 0.2),rgba(255, 255, 255, 0.2));
  margin:16px;
}
ul{
  background:linear-gradient(to bottom,
rgba(0, 0, 0, 0.2),rgba(255, 255, 255, 0.2));
  list-style-type: none;
  text-align: center;
  margin:16px;
  padding: 0;
}
li {
  display:inline;
  padding:16px;
}
li a{
  color:white;
  font-size: 14px;
  font-family:'Courier New', Courier, monospace;
}
li a:hover{
  color:cyan;
  font-size: 18px;
  font-weight: 600;
  font-family:'Courier New', Courier, monospace;
}

.div-intro {
  border:12px ridge rgba(255, 255, 255, 0.3);
  background:linear-gradient(to top,
    rgba(0, 0, 0, 0.2),rgba(255, 255, 255, 0.2));
  margin:16px;
}
.intro p{
  text-align: center;
  color:white;
  letter-spacing: 1px;
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
  margin-bottom: 4px;
}
.div-status{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.status p{
  color:rgb(245, 172, 89);
  letter-spacing: 2px;
  font-size:14px;
  font-family:'Courier New', Courier, monospace;
}
.r-stars,.l-stars{
  color:rgb(245, 172, 89);
  letter-spacing: 2px;
}
.highl p{
  text-align: center;
  color:white;
  letter-spacing: 1px;
  font-size: 32px;
  font-family:'Courier New', Courier, monospace;
  margin-top: 16px;
  margin-bottom: 16px;
}
.tip p{
  text-align: center;
  color:white;
  letter-spacing: 1px;
  font-style: italic;
  font-size: 14px;
  font-family:'Courier New', Courier, monospace;
  height:0px;
}
.column{
  float:left;
  width: 20%;
  padding: 8px;
}
.column img{
  border:8px ridge rgb(255, 255, 255,0.5);
  cursor:pointer;
}
.column img:hover{
  border:8px ridge rgb(0, 255, 255,0.5);
}
.row{
  display:flex;
  justify-content: center;
}
.row:after{
  content:"";
  display:table;
  clear:both;
}
.container{
  position:relative;
  display:flex;
  justify-content: center;
  flex-direction: column;
  width:auto;
  margin-left:10%;
  margin-right:10%;
}
.container img{
  border:16px ridge rgb(0, 255, 255,0.5);
}
#imgtext{
  text-align: center;
  color:white;
  letter-spacing: 1px;
  font-size: 16px;
  font-family:'Courier New', Courier, monospace;
  padding:4px;
}